<form [formGroup]="createQuiz">
  <div>
    <mat-form-field >
      <input matInput placeholder="Quiz Title" formControlName="title" id="quiztitle">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="secondary" (click)="createNewQuestion()" id="new-question">New Question</button>
  </div>

  <div formArrayName="questions">
    <div *ngFor="let questionControl of createQuiz.controls.questions.controls; let i=index">
      <div [formGroupName]="i">
          <mat-form-field >
            <input matInput placeholder="Question" formControlName="title" id="question-title">
          </mat-form-field>
          <button mat-raised-button color="secondary" (click)="createNewOption(i)">New Option</button>
          
          <div formArrayName="options">
              <div *ngFor="let optionControl of questionControl.controls.options.controls; let j=index">
                  <div [formGroupName]="j">
                    <mat-form-field>
                      <input matInput placeholder="Option" formControlName="answer" class="option">
                    </mat-form-field>
                    <mat-checkbox formControlName="correct">Correct answer</mat-checkbox>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>



  <button mat-raised-button color="primary" (click)="saveQuiz()" id="save-quiz" routerLink="/portal/display-quizzes">Save Quiz</button>
</form>
